<ion-header>
  
</ion-header>


<ion-content>

  

  <div class="content">
  </div>

  <a href="#" class="Logo">Agricode</a>

  <div class="login-box">
    <h1>Cadastro</h1>

    <div class="textbox">
      <i class="fas fa-user-tag"></i>
      <input type="text" placeholder="Usuário">
    </div>

    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Nome">
    </div>

    <div class="textbox">
      <i class="fas fa-at"></i>
      <input type="text" placeholder="email">
    </div>

    <div class="textbox">
      <i class="far fa-calendar-alt"></i>
      <input type="text" placeholder="Data de Nascimento">
    </div>
  
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Senha">
    </div>

    <input routerLink="/login" type="button" class="btn" value="Cadastrar">

    <a href="/login">Já possuí login? Clique aqui</a>
  </div>
</ion-content>
