<ion-header>
</ion-header>

<ion-content>

  <div class="navegation">
    <ul>
      <li class="list active">
        <a href="/area-cliente">
          <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
          <span class="title">Início</span>
        </a>
      </li>
      <li class="list">
        <a href="/perfil">
          <span class="icon"><ion-icon name="accessibility-outline"></ion-icon></span>
          <span class="title">Perfil</span>
        </a>
      </li>
      <li class="list">
        <a href="/grafico">
          <span class="icon"><ion-icon name="analytics-outline"></ion-icon></span>
          <span class="title">Gráfico</span>
        </a>
      </li>
      <li class="list">
        <a href="/ajuda">
          <span class="icon"><ion-icon name="help-outline"></ion-icon></span>
          <span class="title">Ajuda</span>
        </a>
      </li>
      <li class="list">
        <a href="#">
          <span class="icon"><ion-icon name="enter-outline"></ion-icon></span>
          <span class="title">Sair</span>
        </a>
      </li>
    </ul>
  </div>



 <div class="container">
  <a class="Logo">Agricode</a>

  <h1 *ngFor = "let c of clientes">Olá, seja bem vindo(a) <b>{{c.nome}}</b></h1>

  <div class="sensores" *ngFor = "let c of clientes">
    <ul>
      <li>
          <p>Suas informações da plantação</p>
      </li>
    </ul>
    <ul>
      <li>
          <span class="title">Temperatura :<b> {{c.ss_temp}}</b></span>
      </li>
    </ul>
    <ul>
      <li>
          <span class="title">Umidade :<b> {{c.ss_umidade}}</b></span>
      </li>
    </ul>
    <ul>
      <li>
          <span class="title" *ngIf="c.ss_chuva == 0">Chuva :<b> Não está chovendo</b></span>
          <span class="title" *ngIf="c.ss_chuva == 1">Chuva :<b> Está chovendo</b></span>
      </li>
    </ul>
    <ul>
      <li>
        <span class="title" *ngIf="c.ss_nivelagua == 0">Nível dos tanques d´agua :<b> Vazio</b></span>
        <span class="title" *ngIf="c.ss_nivelagua == 1">Nível dos tanques d´agua :<b> Cheio</b></span>
      </li>
    </ul>
    <ul>
      <li>
        <span class="title" *ngIf="c.ss_chamas == 0">Fogo :<b> Sem nenhum alerta</b></span>
        <span class="title" *ngIf="c.ss_chamas == 1">Fogo :<b> ALERTA DE CHAMAS !!!</b></span>
      </li>
    </ul>
  </div>


 </div>  

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</ion-content>
