<ion-header>

</ion-header>


<ion-content>

  <div class="content">
  </div>

  <a href="#" class="Logo">Agricode</a>
  
  <div class="login-box">
    <h1>Login</h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Usuário">
    </div>
  
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Senha">
    </div>
  
    <input routerLink="/area-cliente" type="button" class="btn" value="Login">

    <a href="/cadastro">Cadastre-se aqui</a>
  </div>
</ion-content>
