<ion-header>
</ion-header>

<ion-content>

 <div class="container">
  <a class="Logo" href="#">Agricode</a>
  <h1>Sobre nós</h1>


  <div class="sensores">
    <ul>
      <li>
        <span class="title">Pensamos em fazer esse projeto desde o início, é algo que gostamos muito e colocamos em prática para fazer. Os nossos resultados com esse projeto, foram muito positivos, conseguimos tirar nossa ideia do papel e colocar em prática, conseguimos fazer a automação agrícola, com sensores, e também um aplicativo, para ajudar na visualização dos dados, informações dos sensores.
          Para aplicar os itens, utilizamos nosso conhecimento com o Tinkercad para testar os sensores, e depois colocamos em prática para o Arduino real. Assim conseguimos fazer todos os sensores funcionarem corretamente e assim conseguindo finalizar nosso projeto.
          <br><br>


          AGRICODE
          
        </span>
      </li>
    </ul>
  </div>    
  
  <div class="regacao">
    <h2>Voltar para o início</h2>
    <a href="#"><button class="button"><span>Voltar</span></button></a>
  </div>
</div> 




  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</ion-content>
